**/*.xml
**/*.properties
**/build
**/*.mf
**/*.pb
*.iml
**/dist
*.class
**/.idea/
*.kotlin_module
/JavaApplication10netbeans/nbproject/private/
/NetBeansTicTacToe/nbproject/private/
/NetBeansTicTacToe/TicTacToe/nbproject/private/