/8. Cuboid/build/
/9. Globe/nbproject/private/
/9. Globe/build/
/10. UnitConverter/nbproject/private/
/10. UnitConverter/build/
/SwitchString/nbproject/private/
/SwitchString/build/
/11. SwitchString/build/
/11. SwitchString/nbproject/private/
/12. IterationDemo/nbproject/private/
/12. IterationDemo/build/
/13. NemBeszelekTobbetCsunyan/nbproject/private/
/13. NemBeszelekTobbetCsunyan/build/
/14. Pairs/nbproject/private/
/14. Pairs/build/
/15. Drawer/nbproject/private/
/15. Drawer/build/
/16.Tower/nbproject/private/
/16.Tower/build/
/17. WhileDemo/nbproject/private/
/17. WhileDemo/build/
/18. Divisors/nbproject/private/
/18. Divisors/build/